<h1 class="mb-5">These elements all have default display inline</h1>
<h4 class="mb-2">You can not set the width of an inline element. It is automatic.</h4>
<h4 class="mb-5">Hit the button to toggle the display, between block and inline, of the element with the same color
</h4>

<div class='div-2a' style="background: tan; height:300px">Everything is inside this tan div. This is a block element.
  <a class='a-2' style="background: yellow;">A (anchor/link) is a(n) inline element </a>
  <label class='label-2' style="background: orange;">Label is a(n) inline element </label>
  <button class='button-2' style="background: green;">Button is a(n) inline elements</button>
  <input type="text" class='input-2' value="Input is a(n) inline element" style="background:blue">
  <textbox class='textbox-2' style="background:red">Textbox is a(n) inline element</textbox>
  <textarea class='textarea-2' style="background:pink">Textarea is a(n) inline element</textarea>
</div>

<p class=" text-center m-3">Use buttons below to toggle the element's display between block and inline</p>

<button class="btna-2" style="background: yellow;">Make yellow a a(n) block</button>
<button class="btnlabel-2" style="background: orange;">Make orange label a(n) block</button>
<button class="btnbutton-2" style="background: green;">Make green button a(n) block</button>
<button class="btninput-2" style="background:blue">Make blue input a(n) block</button>
<button class="btntextbox-2" style="background: red;">Make red textbox a(n) block</button>
<button class="btntextarea-2" style="background:pink;">Make red textarea a(n) block</button>

<br><br>