<h1 class="mb-5">Images are inline</h1>
<h4 class="mb-5">By default, you can't set width or margin to center.
</h4>
<img class="img" src="../img/coinjar1.jpg" alt="Coin Jar">
<img class="img" src="../img/coinjar2.jpg" alt="Coin Jar">
<br><br>
<button class='btn3-1 btn-primary'>Image are inline by default</button>
<button class='btn3-2 btn-primary'>Margin is not set</button>
<button class='btn3-3 btn-primary'>Width is not set</button>
<br><br>
<h4 class="mb-5">Example 2: Header and paragraph wrapped in a div. A div is a block element.</h4>
<p>Each box has width=30%. You can't use width on inline elements</p>
<div class="box" style="background:#f4f4f4; width:30%">
  <h5>First Box</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat maiores ullam vitae quisquam aliquam assumenda,
    optio fuga nihil amet, accusamus minus consequuntur esse fugiat eum nemo. Cupiditate odit eaque incidunt.</p>
</div>
<div class="box" style="background:#f4f4f4; width:30%">
  <h5>Second Box</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat maiores ullam vitae quisquam aliquam
    assumenda,
    optio fuga nihil amet, accusamus minus consequuntur esse fugiat eum nemo. Cupiditate odit eaque incidunt.</p>
</div>
<div class="box" style="background:#f4f4f4; width:30%">
  <h5>Third Box</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat maiores ullam vitae quisquam aliquam
    assumenda,
    optio fuga nihil amet, accusamus minus consequuntur esse fugiat eum nemo. Cupiditate odit eaque incidunt.</p>
</div>
<br><br>
<button class='btn3-4 btn-primary'>Boxes are Block by default</button>