<h4 id="flex-container1" class="text-red">The container style is now display:block(default)</h4>
<h4 id="flex-container2" class="text-red">The container now has a style flex: 0 1 auto(default)</h4>
<h4 id="flex-container3" class="text-red">The container now has a style align-items: stretch(default)</h4>
<h4 id="flex-container4" class="text-red">The container now has a style align-content: stretch(default)</h4>
<h4 id="flex-container5" class="text-red">The container now has a style justify-content: flex-start(default)</h4>
<div id="flex-container">
</div>
<br><br>
<button class="flex-addBtn" style="background: lightgray;">Add Flex Item</button>
<button class="flex-removeBtn" style="background: lightgray;">Remove Flex Item</button>
<button class="flex-contBtn" style="background: lightgray;">Make Container display:flex</button>
<button class="flex-itemBtn" style="background: lightgray;">Make items flex:1</button>
<button class="flex-contBtn2" style="background: lightgray;">Make align-items:flex-start</button>
<button class="flex-contBtn3" style="background: lightgray;">Make align-content:flex-start</button>
<button class="flex-contBtn4" style="background: lightgray;">Make justify-content:flex-end</button>
<div id="align-self-buttons">
</div>
<div id="justify-self-buttons">
</div>