<h1 class="mb-5">Float and Clear</h1>
<h4 class="mb-5">Floats aren't used much anymore. Make sure to clear the float or the next element will be on top of the
  float</h4>
<div class="div" id="div-1" style="width:50%; background:#f4f4f4">
  <h5>Div 1</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda aspernatur molestiae harum
    quibusdam, enim adipisci similique? Repudiandae, architecto expedita vel, totam voluptates doloribus, sint labore
    ipsam animi nulla quis!</p>
</div>
<div class="div" id="div-2" style="width:50%; background:#f4f4f4">
  <h5>Div 2</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda aspernatur molestiae harum
    quibusdam, enim adipisci similique? Repudiandae, architecto expedita vel, totam voluptates doloribus, sint labore
    ipsam animi nulla quis!</p>
</div>
<div class="div" id="div-3" style="width:50%; background:#f4f4f4">
  <h5>Div 3</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda aspernatur molestiae harum
    quibusdam, enim adipisci similique? Repudiandae, architecto expedita vel, totam voluptates doloribus, sint labore
    ipsam animi nulla quis!</p>
</div>
<div class="div" id="div-4" style="width:50%; background:#f4f4f4">
  <h5>Div 4</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda aspernatur molestiae harum
    quibusdam, enim adipisci similique? Repudiandae, architecto expedita vel, totam voluptates doloribus, sint labore
    ipsam animi nulla quis!</p>
</div>
<div id="clear-1"></div>
<br><br>
<label id="lbl-1" for="width-1">Div-1 Row=50%</label>
<input id="width-1" name="width-1" type="range" min="0" max="100" value="50">
<button id="btnDiv-1" class='btn-primary mr-5'>Float: none</button>
<label id="lbl-2" for="width-2">Div-2 Row=50%</label>
<input id="width-2" name="width-2" type="range" min="0" max="100" value="50">
<button id="btnDiv-2" class='btn-primary mr-5'>Float: none</button>
<label id="lbl-3" for="width-3">Div-3 Row=50%</label>
<input id="width-3" name="width-3" type="range" min="0" max="100" value="50">
<button id="btnDiv-3" class='btn-primary mr-5'>Float: none</button>
<label id="lbl-4" for="width-4">Div-4 Row=50%</label>
<input id="width-4" name="width-4" type="range" min="0" max="100" value="50">
<button id="btnDiv-4" class='btn-primary mr-5'>Float: none</button>
<button id="clearBtn-1" class="btn btn-info btn-block m-3">Clear floats before buttons</button>