<!-- ACCORDION -->
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          One Image
        </a>
      </h5>
    </div>

    <div id="collapse1" class="collapse">
      <div class="card-body">
        {{!-- Put section in here --}}
        <!-- About HEAD -->
        <section id="about-head-section" class="nav-ultralight">
          <div class="container pt-3">
            <div class="row">
              <div class="col text-center pt-5">
                <h1 class="display-4">About Page For Company</h1>
                <p class="lead">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsa accusantium molestiae aliquid
                  vitae consectetur dolore, ad recusandae animi cupiditate a explicabo tempora ex illo voluptatibus,
                  exercitationem laboriosam, atque placeat officia est. Pariatur in officia molestias ratione qui.
                  Ipsum, quae! Cumque repellat doloremque assumenda tempore culpa, rem nisi corporis dicta.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- About SECTION -->
        <section id="about-section" class="text-muted py-5 nav-ultralight">
          <div class="container">
            <div class="row  justify-content-around">
              <!-- Picture 1 -->
              <div class="vehicle-h col text-center">
                <img id="img-1" src="../img/about_indoors.jpg" alt="Workers Coordinating"
                  class="img-fluid mb-3 d-inline-block h-75" />
                <p>Our Team Coordinating</p>
              </div>

            </div>
            <div class="row">
              <div class="col text-center pt-3">
                <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                <a href="#" id="btn-1" class="btn btn-outline-secondary">Make Round</a>
              </div>
            </div>
          </div>
        </section>
        {{!-- End of Section --}}



      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
          Two Horizontal Images
        </a>
      </h5>
    </div>

    <div id="collapse2" class="collapse">
      <div class="card-body">
        {{!-- Put section in here --}}
        <!-- About HEAD -->
        <section id="about-head-section" class="nav-ultralight">
          <div class="container pt-3">
            <div class="row">
              <div class="col text-center pt-5">
                <h1 class="display-4">About Page For Company</h1>
                <p class="lead">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsa accusantium molestiae aliquid
                  vitae consectetur dolore, ad recusandae animi cupiditate a explicabo tempora ex illo voluptatibus,
                  exercitationem laboriosam, atque placeat officia est. Pariatur in officia molestias ratione qui.
                  Ipsum, quae! Cumque repellat doloremque assumenda tempore culpa, rem nisi corporis dicta.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- About SECTION -->
        <section id="about-section" class="text-muted py-5 nav-ultralight">
          <div class="container">
            <div class="row  justify-content-around">
              <!-- Picture 1 -->
              <div class="vehicle-h col-sm col-md-4 text-center">
                <img id="img-2" src="../img/about_indoors.jpg" alt="Workers Coordinating"
                  class="img-fluid mb-3 d-inline-block h-75" />
                <p>Our Team Coordinating</p>
              </div>
              <!-- Picture 2 -->
              <div class="vehicle-h col-sm col-md-4 text-center">
                <img id="img-2" src="../img/about_outdoors.jpg" alt="Workers Assisting"
                  class="img mb-3 d-inline-block h-75" />
                <p>Our Team In Action</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center pt-3">
                <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                <a href="#" id="btn-2" class="btn btn-outline-secondary">Make Rounded</a>
              </div>
            </div>
          </div>
        </section>
        {{!-- End of Section --}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
          Three Horizontal Images
        </a>
      </h5>
    </div>

    <div id="collapse3" class="collapse">
      <div class="card-body">
        {{!-- Put third section in here --}}
        <!-- About HEAD -->
        <section id="about-head-section" class="nav-ultralight">
          <div class="container pt-3">
            <div class="row">
              <div class="col text-center pt-5">
                <h1 class="display-4">About Page For Company</h1>
                <p class="lead">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsa accusantium molestiae aliquid
                  vitae consectetur dolore, ad recusandae animi cupiditate a explicabo tempora ex illo voluptatibus,
                  exercitationem laboriosam, atque placeat officia est. Pariatur in officia molestias ratione qui.
                  Ipsum, quae! Cumque repellat doloremque assumenda tempore culpa, rem nisi corporis dicta.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- About SECTION -->
        <section id="about-section" class="text-muted py-5 nav-ultralight">
          <div class="container">
            <div class="row  justify-content-around">
              <!-- Picture 1 -->
              <div class="vehicle-h col-sm col-md-4 text-center">
                <img id="img-3" src="../img/about_indoors.jpg" alt="Workers Coordinating"
                  class="img-fluid mb-3 d-inline-block h-75" />
                <p>Our Team Coordinating</p>
              </div>
              <!-- Picture 2 -->
              <div class="vehicle-h col-sm col-md-4 text-center">
                <img id="img-3" src="../img/about_outdoors.jpg" alt="Workers Assisting"
                  class="img mb-3 d-inline-block h-75" />
                <p>Our Team In Action</p>
              </div>
              <!-- Picture 3 -->
              <div class="vehicle-h col-sm col-md-4 text-center">
                <img id="img-3" src="../img/about_outdoors.jpg" alt="Workers Assisting"
                  class="img mb-3 d-inline-block h-75" />
                <p>Our Second Team In Action</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center pt-3">
                <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                <a href="#" id="btn-3" class="btn btn-outline-secondary">Make Rounded</a>
              </div>
            </div>
          </div>
        </section>
        {{!-- End of Section --}}
      </div>
    </div>
  </div>

  {{!-- End of accordian --}}
</div>



</div>