<!-- NAVBAR WITH DROPDOWN -->
<nav class="navbar navbar-expand-sm navbar-light nav-background bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Kevin Quinn</a>
    <ul class="navbar-nav">
      <li class="nav-item mr-3">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown mr-3">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reference</a>
        <div class="dropdown-menu">
          <a href="/reference/css" class="dropdown-item">CSS</a>
          <a href="/reference/javascript" class="dropdown-item">JavaScript</a>
          <a href="/reference/nodejs" class="dropdown-item">Node.JS</a>
          <a href="/reference/bootstrap" class="dropdown-item">Bootstrap</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Templates</a>
        <div class="dropdown-menu">
          <a href="/template/navbars" class="dropdown-item">Navbars</a>
          <a href="/template/multi_image" class="dropdown-item">Image Sections</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About</a>
        <div class="dropdown-menu">
          <a href="/about/purpose" class="dropdown-item">Purpose</a>
          <a href="/about/nodejs" class="dropdown-item">Node.js</a>
          <a href="/about/mongo" class="dropdown-item">Mongo</a>
          <a href="/about/javascript" class="dropdown-item">Javascript</a>
          <a href="/about/css" class="dropdown-item">CSS</a>
          <a href="/about/bootstrap" class="dropdown-item">Bootstrap</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CoinInv</a>
        <div class="dropdown-menu">
          <a href="/coininv/home" class="dropdown-item">Home</a>
          <a href="/coininv/inventory" class="dropdown-item">Inventory</a>
          <a href="/coininv/add" class="dropdown-item">Add Coin</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>
</div>