<div style="height:60px;"></div>
<h1 class="text-center p-3">Web Reference Page</h1>
<h2 class="text-center p-2">Bootstrap Examples</h2>

<!-- ACCORDION -->
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          Cards --not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse1" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_block}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
          Modals --not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse2" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
          Jumbotron --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse3" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->

  {{!-- End Accordian --}}
</div>