<h1 class="text-center p-5">Kevin Quinn's Web Reference Page</h1>
<a class="btn btn-warning btn-block mb-2" href="/reference/css">View CSS References</a>
<a class="btn btn-success btn-block mb-2" href="/reference/javascript">View JavaScript References</a>
<a class="btn btn-info btn-block mb-2" href="/reference/node">View Node.Js and Mongo References</a>
<a class="btn btn-danger btn-block mb-2" href="/reference/bootstrap">View Bootstrap References</a>
<a class="btn btn-primary btn-block mb-2" href="/reference/bootstrap">Home</a>