<div style="height:60px;"></div>
<h1 class="text-center p-3">Web Reference Page</h1>
<h2 class="text-center p-2">JavaScript Examples</h2>
<!-- ACCORDION -->
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          Traversing the DOM with Console
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse1" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{> _traverse_DOM}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
          Arrays and Objects --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse2" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
          Local Storage --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse3" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
          Rest API --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse4" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->

  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
          Classes --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse5" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->

  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse6" data-parent="#accordion" data-toggle="collapse">
          Design Patterns --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse6" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_inline}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->

  {{!-- End Accordian --}}
</div>