<div style="height:60px;"></div>
<h1 class="text-center p-3">Web Reference Page</h1>
<h2 class="text-center p-2">Node.JS Examples</h2>
<!-- ACCORDION -->
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5>
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          Form to store in database --Not done yet
        </a>
      </h5>
    </div>
    <!-- ACCORDION Section-->
    <div id="collapse1" class="collapse">
      <div class="card-body">
        <!-- Put section in here -->


        {{!-- {{> _display_block}} --}}


        <!-- End Section-->
      </div>
    </div>
  </div>
  <!-- End ACCORDION Section-->


  {{!-- End Accordian --}}
</div>