<!-- Problem HEAD -->
<section id="problem-head-section">
  <div class="container pt-3">
    <div style="height:100px;"></div>
    <div class="row">
      <div class="col-8 text-center">
        <h1 class="display-4">Are You Staying Up Late Every Night Learning Web Development?</h1>
      </div>
    </div>
  </div>
</section>


<section id="about-head-section">
  <div class="container pt-3">
    <div class="row">
      <div class="col text-center pt-5">
        <h1 class="display-4">Don't Give Up!!</h1>
        <p class="lead">There's nothing you can't figure out. Email me at kevinquinn1918@gmail.com and I will help
          figure it out too. I love learning. I hope this website helps and I'll continue working on it as a reference.
          Let me know if
          you have additional ideas.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About SECTION -->
<section id="about-section" class="text-muted py-5">
  <div class="container">
    <div class="row  justify-content-around">
      <!-- Picture 1 -->
      <div class="vehicle-h col text-center">
        <img id="img-1" src="img/learning_it.jpg" alt="Workers Coordinating"
          class="img-fluid mb-3 d-inline-block h-75" />
        <p>Teamwork is the Key</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center pt-5">
        <h1 class="display-4">Keep Practicing...</h1>
      </div>
    </div>
  </div>
</section>
{{!-- End of Section --}}


<!-- Solution HEAD -->
<section id="solution-head-section">
  <div class="pt-3">
    <div style="height:100px">
    </div>
    <div class="row mb-5">
      <div class="m-5"></div>
      <h1 id="head-1" class="display-4 mb-5 col-12">And soon.....</h1>
      <h1 id="head-2" class="display-4 mb-5 col-6 offset-2">you'll be drinking....</h1>
      <h1 id="head-3" class="display-4 col-6 offset-5">cocktails on the beach</h1>

    </div>
  </div>
</section>