<!-- Problem HEAD -->
<section id="coininv-problem-head-section">
  <div class="pt-3">
    <div style="height:100px;"></div>
    <div class="row">
      <div class="col-4 offset-1 text-center">
        <h1 class="display-4">Do you have valuable coins scattered throughout your house?</h1>
      </div>
    </div>
    <div style="height:100px;"></div>
    <div class="col-4 offset-7 text-center">
      <h1 class="align-bottom display-4">Use CoinInv, the Coin Inventory Management Solution</h1>
    </div>

  </div>
</section>
<div class="jumbotron">
  <h1 class="text-center pb-3">Coin Collecting Inventory Management Solution</h1>
  {{!-- <img src="coin_image.jpg" alt="Coin Image"> --}}
  <div class="text-center">
    <h6 class="pb-5">Written by {{{name}}}, {{{title}}}</h6>
    {{#each programRevision}}
    <p>Revision: {{{rev}}} Date: {{{date}}}</p>
    {{/each}}
    <a class="btn btn-outline-success m-3" href="/coininv/add">Add Coin</a>
    <a class="btn btn-outline-success m-3" href="/coininv/inventory">Inventory</a>
  </div>
</div>