<div style="height:60px;"></div>
{{!-- Section- Node.JS Selection --}}
<section id="node-selection">
  <div class="container">
    <h1 class="text-center p-3">Why Node.JS</h1>
    <div class="row">
      <div class="col">
        <p>Node.JS was selected because it is server side Javascript.Since I was learning Javascript, I thought this
          would be easier to learn than PHP.</p>
        <p>To use Node, modules must be loaded through npm (Node Package Manager).</p>
        <p>This website is not complete yet, but the following modules are or will be used</p>
        <ul>
          <li><b>express</b>: This is used to set up the Node.js framework </li>
          <li><b>express-handlebars</b>: This is used to build the layout of the pages</li>
          <li><b>method-override</b>: This is used to change the mdthod "post" or "get" actions in forms. This can
            override them to include "PUT" and "DELETE", which are used to Update or Delete in CRUD applications</li>
          <li><b>body-parser</b>: Is used to get the data from any input</li>
          <li><b>passport</b>: This is used for login authentication. There are 100s of passport strategies available
          </li>
          <li><b>passport-local</b>: This is what's used in this application. The passowrd is stored in this database.
          </li>
          <li><b>bcryptjs</b>: This is used to encrypt the password when a user logs in</li>
          <li><b>mongoose</b>: This is used to access a mongodb</li>
        </ul>
        <p>To use a module, the following steps are perfomed:</p>
        <ul>
          <li><b>Install the module through npm</b>: This puts the dependancy in the package.json file</li>
          <li><b>Declare the module</b>: This is done by using the require statement</li>
          <li><b>Include the Middleware</b>: These statements are found on the websites of the modules. </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<h1 class="text-center p-3">Switching to Slides for the About</h1>