<div style="height:60px;"></div>

{{!-- Section-My background --}}
<section>
  <div class="container mb-5">
    <h1 class="text-center p-3">My Background</h1>
    <div class="row">
      <div class="col-2">
        <img class="mb-2" style="display: block" src="../img/me.jpg" alt="LinkedIn picture">
        <a class="ml-3" href="https://www.linkedin.com/in/kevinquinn1918/" target="_blank">LinkedIn Profile</a>
      </div>
      <div class="col-10 align-self-center">
        <ul>
          <li>
            <h4>Worked as a Test Engineer for several years in the semiconductor industry</h4>
          </li>
          <li>
            <h4>Developed a little software in several languages, but never mastered any</h4>
          </li>
          <li>
            <h4>My passion is software so I left the semiconductor industry to pursue a software career</h4>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>

{{!-- Section-Purpose of the Site --}}
<section id="site-purpose" class="bg-light mb-5">
  <div class="container">
    <h1 class="text-center p-3">Purpose of The Site</h1>
    <div class="row">
      <div class="col-9">
        <ol>
          <li>
            Create <b>Reference</b> code in CSS, Javascript, Node.Js and Bootstrap that can be used to facilitate the
            learning the concepts
          </li>
          <li>
            Create <b>Templates</b> that can be used to develop websites more quickly< </li> <li>
              <b>About</b> section describe the details and the issues of each section while creating this site.
          </li>
          <li>Create a small CRUD application called <b>CoinInv</b> that uses Node.js and MongoDB
          </li>
          <li>Get some ideas for a web based project or for improvements on this one
          </li>
        </ol>
        <h5 class="p-3 mb-5">With that said, the first and biggest issue, is that I did not do the upfront planning of
          this
          site, so some of the code is and the appearance of the site is ugly.</h5>


      </div>
      <div class="col-3">
        <img src="../img/web_development.jpg" alt="" class="img-fluid mb-3 d-inline-block">
        <p class="text-center">Learn Web Development</p>
      </div>
    </div>
  </div>
</section>

{{!-- Section-Why I started this site --}}
<section id="how-sight">
  <div class="container">
    <h1 class="text-center p-3">How This Site Came About</h1>
    <div class="row">
      <div class="col mb-5">
        <p>It all started when I tried to learn HTML/CSS/Bootstrap/Javascript and Node in a short amount of time. I
          understood the online videos I was watching, but I kept forgetting the details. I found myself watching the
          videos of the classes over and over</p>

        <p>A friend of mine, asked me to make him a website for him and I struggled with it. At this point, I decided to
          make some templates of website sections that I could re-use. I still struggled with CSS and with the
          positioning of the elements.</p>

        <p>While spending alot of time on the CSS, I forgot the Javascript and Node that I learned. Now, I realized I
          could get more practice, if I moved the static website to Node.JS</p>

        <p>I still felt weak at CSS and wasn't getting much practice at Javascript, so I decided to incorporate
          Javascript into my CSS learning. Instead of practicing, and I overwriting the files, I decided to make a
          website of it.</p>

        <p>The first section, I did was on CSS- display and I made a mistake in the Javascript. I put a message on
          Slack, and got alot of responses and alot of help. </p>

        <p mb-5>I am learning alot from making this site and hope that others will too.</p>

      </div>
    </div>
  </div>
</section>